<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <meta charset="ISO-8859-1">
    <title>Animal Details</title>
</head>
<!--START NAVBAR-->
<div th:insert="navbar" :: mynavbar></div>
<!--END NAVBAR-->
<body>
<div class="container text-center mt-3">
    <div>
        <h1>List of Animals</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Animal ID</th>
                <th>Owner Name</th>
                <th>Pet Name</th>
                <th>Gender</th>
                <th>Species</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="animal: ${listAnimals}">
                <td th:text="${animal.id}">Animal ID</td>
                <td th:text="${animal.ownerName}">Owner Name</td>
                <td th:text="${animal.petName}">Pet Name</td>
                <td th:text="${animal.gender}">Gender</td>
                <td th:text="${animal.species}">Species</td>
                <td th:text="${animal.height}">Height(in)</td>
                <td th:text="${animal.weight}">Weight(lbs)</td>
                <td>
                    <a th:href="@{'/user/animal/edit/' + ${animal.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/animal/delete/' + ${animal.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>