<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--START NAVBAR-->
<div th:insert="navbar" :: mynavbar></div>
<!--END NAVBAR-->
<head>
    <title>Appointment Details</title>
    <head>
        <div th:insert="head" :: head></div>
    </head>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>List of Appointments</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Appointment ID</th>
                <th>Name</th>
                <th>Illness</th>
                <th>Time</th>
                <th>Status</th>
                <th>Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="appointment: ${listAppointments}">
                <td th:text="${appointment.id}">Appointment ID</td>
                <td th:text="${appointment.name}">Name</td>
                <td th:text="${appointment.illness}">Illness</td>
                <td th:text="${appointment.time}">Time</td>
                <td th:text="${appointment.status}">Status</td>
                <td>
                    <a th:href="@{'/appointment/edit/' + ${appointment.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/appointment/delete/' + ${appointment.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>