<!DOCTYPE html>
<html lang="en " xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Vet-App</title>
</head>
<body>
<!--START NAVBAR-->
<div th:insert="navbar" :: mynavbar></div>
<!--END NAVBAR-->

<!--START WELCOME SECTION-->
<h1 id="welcome-h1">Welcome to the Vet System!</h1>
<h2 id="welcome-h2">If you do not already have an account sign up!</h2>
<!--END WELCOME SECTION-->

</body>
</html>